@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind config or global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}

body {
  @apply font-nunito;
}
h1, h2, h3, .title {
  @apply font-montserrat;
}
